/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 50px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Hero Section Styles */
.hero {
  background-color: #201658;
  padding: 50px;
  text-align: center;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
}

/* Features Section Styles */
.features {
  padding: 50px;
}

.features h2 {
  margin-bottom: 20px;
}

.feature {
  text-align: center;
}

.feature img {
  width: 100px;
}

/* How It Works Section Styles */
.how-it-works {
  background-color: #f4f4f4;
  padding: 50px;
}

.how-it-works h2 {
  margin-bottom: 20px;
  color: #333;
}

.steps {
  display: flex;
  justify-content: space-around;
}

.step {
  text-align: center;
}

.step img {
  width: 100px;
}

/* Testimonials Section Styles */
.testimonials {
  background-color: #eee;
  padding: 50px;
}

.testimonials h2 {
  color: #333;
  margin-bottom: 20px;
}

.testimonial img {
  text-align: center;
  border-radius: 10px;
}

/* Pricing Section Styles */
.pricing {
  background-color: #f4f4f4;
  padding: 50px;
}

.pricing h2 {
  margin-bottom: 20px;
  color: #333;
}

.plans {
  display: flex;
  justify-content: space-around;
}

.plan {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
  flex-basis: 30%;
}

.plan h3 {
  margin-bottom: 10px;
}

.plan ul {
  list-style-type: none;
  padding: 0;
}

.plan ul li {
  margin-bottom: 10px;
}

.plan button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* About Us Section Styles */
.about-us {
  padding: 50px;
}

.about-us h2 {
  margin-bottom: 20px;
}

/* Contact Us Section Styles */
.contact-us {
  background-color: #eee;
  padding: 50px;
  box-sizing: border-box;
}

.contact-us h2 {
  color: #333;
  margin-bottom: 20px;
}
.contact-us .contact {
  width: 400px;
  margin: auto;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 6px #333;
  background-color: #b4cfd1;
}
.contact-us .contact .fields {
  width: 100%;
  margin-bottom: 10px;
}
.contact-us .contact .fields label {
  color: #333;
  font-size: 14px;
  font-weight: 600;
}
.fields input,
.fields textarea {
  display: block;
  width: 95%;
  padding: 10px;
  background-color: #eee;
  color: #444;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  margin-top: 2px;
}
.fields input:focus,
.fields textarea:focus {
  background-color: #fff;
}
.button button {
  background-color: #333;
  transition: all 0.4s ease;
}
.button button:hover {
  background-color: #fff;
  color: #333;
}

/* Footer Section Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer nav ul {
  margin-bottom: 10px;
}

footer nav ul li {
  display: inline;
  margin-right: 20px;
}

footer nav ul li a {
  color: #fff;
  text-decoration: none;
}

.social-media a {
  color: #fff;
  margin-right: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
}

.main-title h1,
.main-title h2 {
  font-size: 42px;
  color: #555555;
  margin: 20px 0 10px;
  text-align: left;
  font-weight: 600;
}

.line-sention {
  width: 72px;
  height: 2px;
  margin-top: 0px;
  position: relative;
  top: -3px;
  background: #ef3d32;
}

.content-section p {
  font-size: 18px;
  color: #444444;
  margin-bottom: 10px;
  text-align: left;
  line-height: 32px;
}

.about-section-content:last-child {
  margin-bottom: 50px;
}

.vision-section {
  padding-bottom: 30px;
}

.members {
  display: flex;
  align-items: inherit;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}

.members img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin: auto;
  object-fit: cover;
  padding-top: 10px;
  margin-bottom: 0;
  border: 1px solid #ccc;
  padding: 0;
  border: 2px solid #bbb;
}

.members .content-section {
  box-shadow: 0 0 10px #555;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.3s ease;
  max-height: 500px;
  padding: 20px;
  width: 20%;
  margin: 10px;
}

.profile img {
  display: block;
}

.details {
  padding: 20px;
}

.details h3 {
  color: #000;
  font-size: 16px;
  margin-bottom: 5px;
}

.details p {
  color: #444;
  font-size: 14px;
  margin-bottom: 25px;
  margin-top: 0;
  font-weight: 600;
}

.social-medial-icons {
  border: 1px solid;
  padding: 10px;
  margin: 6px;
  border-radius: 50%;
}

/* Hover effect */
.members .content-section:hover {
  transform: scale(1.05);
  /* Increase size on hover */
}

.w-4 {
  width: 16px;
}

.h-4 {
  height: 16px;
}

.sr-only {
  display: none;
}

.parking {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.parking-boc-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 75px 0;
  position: relative;
  margin: 5px 0;
  box-shadow: 0 0 6px #fff;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.parking-boc-section:hover {
  transform: scale(1.05);
}

/* .parking-value {
  background: green;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  font-size: 0;
} */

.parking-value.car-parked {
  background: red;
}

.parking-name {
  position: relative;
  z-index: 3;
  font-size: 22px;
  font-weight: 600;
  font-family: cursive;
}

.parking-boc-section.car-parked .parking-value {
  background-color: red;
}

.logo {
  /* background: url(/logo1.png); */
  height: 223px;
  width: 308px;
  background-position-y: -12px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it appears above other content */
}

.dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 20px;
  border-radius: 5px;
}

.close {
  font-size: 2.2rem;
  float: right;
}
.dialog-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;
  max-width: 800px;
  width: 100%;
  gap: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.book-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.book-button:hover {
  background-color: #0056b3;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
}

.close:hover {
  color: #000;
}

.parking-boc-section {
  flex-direction: column;
  height: calc(224px - 150px);
}
.up-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.btm-card {
  position: absolute;
  bottom: 30px;
}

.parking-name {
  font-size: 80px;
}

.parking-boc-section.nullStatus .parking-name, .Available span{
  color: rgb(29, 145, 0);
}

.parking-boc-section.noBookPark .parking-name, .noBookPark span {
  color: rgb(201, 201, 27);
}

.parking-boc-section.ParkBooked .parking-name, .ParkBooked span {
  color: rgb(128, 0, 0);
}

.parking-boc-section.BookedOnly .parking-name, .BookedOnly span {
  color: rgb(0, 109, 128);
}


.parking-indicator{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.car span{
  margin-right: 10px;
}

.car{
  font-size: 1.2rem;
}